
body {
  text-align: center;
}

.card {
  border-radius: 0;
  display: block;
  width: 120px;
  height: 100px;
}

.row {
  text-align: center;
}

.grid {
  display: inline-block;
}

.input{
  size: 20px;
}

.end {
  display: none;
}

#c2r2 {
  border-top-width: thick;
  border-bottom-width: thick;
  border-right-width: thick;
  border-left-width: thick;
  border-color: black;
}

#c2r1 {
  border-top: none;
  border-bottom: none;
  border-right-width: thick;
  border-left-width: thick;
  border-color: black;
}

#c2r3 {
  border-top: none;
  border-bottom: none;
  border-right-width: thick;
  border-left-width: thick;
  border-color: black;
}

#c1r2 {
  border-top-width: thick;
  border-bottom-width: thick;
  border-right: none;
  border-left: none;
  border-color: black;
}

#c3r2 {
  border-top-width: thick;
  border-bottom-width: thick;
  border-right: none;
  border-left: none;
  border-color: black;
}

#c1r1 {
  border: none;
}

#c1r3 {
  border: none;
}

#c3r1 {
  border: none;
}

#c3r3 {
  border: none;
}
